/*
** Stylesheet to style HTML structured as
**
** <article>
**   <section> (title slide) </section>
**   <section> (slide 2) </section>
**   <section> (slide ...n) </section>
** </article>
** 
** into a basic "slide deck presentation".
**
** Michael Thornburgh, <zenomt@zenomt.com>
**
** Based on "Creating a Slide Deck with Just HTML and CSS"
** by Nathan Knowler, https://codepen.io/knowler/pen/eYGRwyb
*/

* { box-sizing: border-box; }

html, body {
	block-size: 100%;
	counter-reset: slide;
	margin: 0;
	font-family: Avenir Next, Arial, Helvetica, system-ui;
}

@media screen {
	article {
		block-size: 100%;
		display: flex;
		flex-direction: column;
		overflow-y: scroll;
		scroll-snap-type: y mandatory;
	}

	section {
		flex: 0 0 100%;
		scroll-snap-align: start;
	}
}

h1, h2 { font-size: 120%; }

section > * { margin: 0 0 2vh; }

/* Show the slide counter */
article > ::before {
	content: counter(slide);
	position: absolute;
	inset-block-end: 1vh;
	inset-inline-end: 1vh;
	padding: 1.5vh;
	font-size: 3.0vmin;
	font-weight: 700;
	font-variant: tabular-nums;
	line-height: 1;
}

section {
	block-size: 100%;
	margin: 0;
	position: relative;
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: max-content;
	grid-template-columns: 1fr;
	row-gap: 1vh;
	padding: 2vh;
	break-before: page;
	counter-increment: slide;
	max-height: 100vh;
}

/* Title slide layout */
section:first-of-type {
	display: grid;
	place-content: center;
	text-align: center;
	font-size: 7.0vmin;
	line-height: 1.1;
}

section:first-of-type > * { margin: 0; }

/* Put regular slide first element at the top */
section:nth-of-type(n+2) > :first-child {
	position: absolute;
	inset-inline-start: 1vw;
	inset-block-start: 1vw;
}

/* Regular slide layout */
section:nth-of-type(n+2) {
	margin: 0 0 1.5vh;
	align-content: center;
	justify-content: start;
	text-align: left;
	padding-inline: 4vw;
	font-size: 5.0vmin;
	line-height: 1.3;
}

p { max-height: inherit; }

pre { font-size: 2.5vmin; }

svg, img {
	padding: 3vh 0;
	margin: 0;
	max-height: inherit;
	max-width: inherit;
	width: 100%;
	object-fit: contain;
}

ul > li > ul { list-style-type: square; }

ul, ol { padding-inline-start: 4vw; }

blockquote {
	padding: 0 2vw;
	border-left: 0.75vw solid;
	font-size: larger;
}

blockquote > * { margin: 0 }

table {
	font-size: 2.5vmin;
	border-collapse: collapse;
	color: inherit;
}

th, td {
	padding: 1vh;
	border: 0.25vh solid;
}
